.gradient-background {
    background: linear-gradient(300deg, #0099ff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  img{
    border-top: solid 3px black;
    border-left: solid 10px black;
    border-right: solid 10px black;
    border-bottom: solid 3px black;
    border-radius: 15%;
  }

  .icon-square{
    border-radius: 15%;
    padding: .5rem;
   }

  img.cat-testimonial{
    border-radius: 100%;
    border: none;
    width: 200px;
    
  }

  img.brands{
    border: none;
    border-radius: 0;
    height: 1.5rem;
    width: 9rem;
    margin: 40px 80px 0 80px;
  }

 